;; shadow-cljs configuration
{:source-paths
 ["src/dev"
  "src/main"
  "src/test"]

 :dependencies
 [
  [cider/cider-nrepl "0.18.0"]
  ]

 :nrepl {:port 8202}

 :builds
 {:dev
  {:target :node-library
   :output-to "lib/main.js"
   :output-dir "out"
   :exports {:foo fnrc.core/foo}}}}
