;; shadow-cljs configuration
{:source-paths
 ["src/dev"
  "src/main"
  "src/test"]

 :dependencies
 []

 :builds
 {:fnrc
  {:target :node-library
   :output-to "lib/main.js"
   :output-dir "out"
   :exports {:foo fnrc.core/foo}}}}
